:root {
  --bg-color: #ffffff;
  --text-color: #121212;
  --card-bg: rgba(175, 175, 175, 0.199);
  --color-logo: rgba(94, 93, 93, 0.701);
  --color-shadow: #e0e0e0;
}

body.dark {
  --bg-color: #051f31;
  --text-color: #ffffff;
  --card-bg: #1f2a3d;
  --color-logo: rgb(210, 210, 210);
  --color-shadow: rgba(19, 36, 48, 0.639);
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

/* Intro  */
.nav {
  z-index: 999;
}
.nav ul {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 0;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border-radius: 8% / 100%;
  width: 600px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(125, 125, 125, 0.758);
  box-shadow: 0 2px 8px rgba(207, 207, 207, 0.288);
}
.nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: medium;
  font-weight: 100;
}
.nav-link {
  color: inherit;
  text-decoration: none;
  padding: 5px 5px;
  padding-left: 8px;
  padding-right: 8px;
  transition: color 0.3s;
}

.nav-link.active {
  color: #343434; /* Highlight color */
  border: 1px solid #e0e0e0;
  border-radius: 40% / 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(207, 207, 207, 0.288);
}

@media (max-width: 600px) {
  .nav {
    display: none;
  }
}
.intro {
  font-family: "Poppins", sa;
  color: antiquewhite;
  background-image: url(Assets/Bg1.png);
  background-position: center;
  padding: 6%;
  background-size: cover;
  text-align: center;
}
.intro h1 {
  font-size: 2rem;
  margin: 5%;
}
.font-bold {
  font-size: 1.2em;
  font-weight: 500;
}
.social-button {
  font-size: 1rem;
  margin: 1.25rem;
  padding: 1rem 1.25rem;
  border-radius: 50px;
  background: white;
  color: #5c5c5c;
  font-weight: 400;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.social-button.dark {
  background: #0d1117;
  color: white;
  border: 1px solid gray;
}
.social-button:hover {
  transform: scale(1.03);
}
.icon {
  font-size: 1.5rem;
  color: inherit;
}
.mail {
  width: 90%;
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
  color: #121212;
  background-color: #ffffff;
  border: 1px solid gray;
  border-radius: 50px;
  padding: 0.5rem 1rem;
}
.mail h3 {
  font-size: 1rem;
  margin: 0.3rem;
}
/* Vertical Separator*/
.vertical-line {
  width: 6px;
  height: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  background-color: rgba(250, 235, 217, 0.92);
  border-radius: 10px;
  animation: growDown 1s ease forwards;
}

@keyframes growDown {
  to {
    height: 60px;
  }
}

@media (max-width: 600px) {
  .vertical-line {
    display: none;
  }
}
/* Education */
.background-info h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 200;
}
.education {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 3rem;
  text-align: center;
  padding: 0.5em;
  margin: 0.45% auto;
}
.clg-education {
  display: flex;
  flex-flow: row;
  gap: 1rem;
  background-color: var(--card-bg);
  border-radius: 5px;
  text-align: center;
  padding: 0.7em;
  width: 90%;
  max-width: 37.5rem;
}
.sec-education {
  display: flex;
  flex-flow: row;
  gap: 4rem;
  background-color: var(--card-bg);
  border-radius: 5px;
  text-align: center;
  padding: 0.7em;
  width: 90%;
  max-width: 37.5rem;
}
.education h3 {
  border-left: 5px solid #ffffff;
  padding-left: 2rem;
  font-weight: 200;
  font-size: 1rem;
  text-align: left;
  line-height: 2rem;
  margin: 1.5rem;
}
.logo {
  max-width: 7rem;
  max-height: 7rem;
  width: 100%;
  height: auto;
  margin: 1.5rem 1.5rem 1.5rem 0rem;
  border: 1px solid rgb(185, 185, 185);
  cursor: pointer;
}

@media (max-width: 400px) {
  .education h3 {
    text-align: left;
    border: none;
    padding-left: 0;
  }
  .sec-education {
    gap: 0rem;
  }
  .logo {
    display: none;
  }
}
/* Work Expierience */

.work {
  display: flex;
  flex-flow: row;
  gap: 1rem;
  background-color: var(--card-bg);
  text-align: left;
  border-radius: 5px;
  padding: 0.7em;
  margin: 1% auto;
  width: 90%;
  max-width: 40rem;
}
.work h3 {
  border-left: 5px solid #ffffff;
  padding-left: 2rem;
  font-size: 1rem;
  font-weight: normal;
  margin: 1.5rem;
  line-height: 2rem;
  text-align: left;
}

@media (max-width: 400px) {
  .work h3 {
    border: none;
    padding-left: 0;
  }
}
/* Projects*/
.project-heading {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 200;
}
.projects {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.project-card {
  display: flex;
  gap: 2rem;
  background-color: rgb(175, 175, 175, 0.199);
  border: 1px solid var(--card-bg);
  border-radius: 20px;
  margin: 2%;
  padding-top: 1%;
  padding-left: 1%;
  padding-bottom: 0;
  padding-right: 0;
  text-align: left;
  max-width: 800px;
}
.project-info {
  flex: 1;
  margin-bottom: 2rem;
}
.project-info h2 {
  font-weight: 500;
  font-size: 1.5rem;
}
.lang-logo {
  font-weight: 400;
  font-size: 1rem;
  color: var(--color-logo);
}
.project-info p {
  font-weight: 200;
  font-size: 1rem;
  line-height: 1.5rem;
}
.project-img {
  align-self: flex-end;
  overflow: hidden;
  box-shadow: -5px 3px 5px var(--color-shadow);
  border-radius: 5% 0% 20px 0%;
  max-height: 480px;
}
.project-img img {
  transition: transform 0.3s ease;
  display: block;
  width: 300px;
  max-width: 100%;
}
.project-card:hover img {
  transform: scale(1.05);
}
@media (max-width: 600px) {
  .project-img {
    display: none;
  }
  .project-card {
    gap: 0rem;
  }
}
.project-btn {
  margin-bottom: 1rem;
}
.project-btn button {
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid rgb(35, 35, 35);
  border-radius: 20px;
}
button:hover {
  transform: translateY(-3px);
}
/* Skills */

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  margin-bottom: 8rem;
}
.skill-logo {
  width: 64px;
  height: 64px;
  max-width: 100%;
  transition: transform 0.3s ease-in-out;
}
.skill-logo-cont:hover {
  transform: scale(1.1);
}
.skill-heading {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 200;
}
@media (max-width: 600px) {
  .skills {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
}
/* Dark / Light Mode button */
.toggle-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  cursor: pointer;
  background-color: #bbbbbb;
  border: 1px dotted black;
  border-radius: 50%;
}
.toggle-btn img {
  padding: 5px;
  width: 34px;
  height: 34px;
  max-width: 100%;
}
/* Contact Info */
.contact-info h2 {
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
  font-family: inherit;
}
.contact-info h3 {
  font-weight: 400;
  font-family: inherit;
  text-align: center;
}
